.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
html {
  height: 100%;
  font-family: serif;

}
body {
  margin:0;
  padding:0;
  background: center / contain   url("./assets/diego-ph-5LOhydOtTKU-unsplash.jpg") ;
  background-size: cover;
  box-sizing: border-box;
}
:root {
  --bg-color:linear-gradient(#737579, #1c469f);
  --font-family:arial
}
