
html {
  height: 100%;
  font-family: serif;

}
body {
  margin:0;
  padding:0;
  background: center / contain   url("./assets/guilherme-stecanella-gs3UsBIGta4-unsplash.jpg") ;
  background-size: cover;
  box-sizing: border-box;
}
:root {
  --bg-color:linear-gradient(#737579, #1c469f);
  --font-family:arial
}
