.card-group {
    justify-content: center;
}

.card-grid, .card {
    padding: 3rem !important;
    height: auto !important;
    justify-content: center;
    margin: 0 auto;

    
}

.card-body {
    margin: 0;
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.date{
    display: flex;
    justify-content: flex-end;
    color: lightgray;
    font-size: 12px;
    margin: 0 auto;
}
.author-name{
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.title-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.card-image
{
    max-width: 100%;
    height: auto;
    display: table;
}

.card-text {
    height: fit-content;
    margin-bottom: 2rem;
    text-align: center;
    font-size: larger;
    background:white ; 
    mix-blend-mode: screen;  
}

.btn, .btn-primary {
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    background:#2A385A;
    color: white;
    border: none;
    font-family: inherit;
    mix-blend-mode: screen;  

    
}
.button-group{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}