.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    background: #fff;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;
  }
  
  .article-title {
    color: #1d3340;
    margin: 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    transition: color 0.3s ease-out;
  }
  
  .article-body {
    text-align: justify;
    padding: 2rem;
  }
  
  .article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
  }
  
  .article-recent-secondary img {
    max-width: 100%;
    display: block;
    padding: 10px;
    border-radius: 8px;
  }
  
  .article-info {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .article-body {
      text-align: justify;
    }
  
    .article-read-more {
      font-weight: 500;
      margin-bottom: 1rem;
    }
  
    .article-recent-main {
      text-align: justify;
      padding: 4px;
      margin: 4px;
    }
  
    .blog-icons {
      text-align: center;
      height: 3em;
    }
  
    .article-body {
      padding: 2rem;
      text-align: justify;
    }
  }
  
  @media (min-width: 690px) {
    .article-recent {
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem;
    }
  
    .article-recent-main {
      width: 68%;
      padding: 2rem;
    }
  
    .article-recent-secondary {
      width: 30%;
    }
  }
  
  @media (max-width: 1900px) {
    .article-recent-main {
      width: 100%;
    }
  
    .article-body {
      display: flex;
      text-align: justify;
      width: 75%;
    }
  }
  