.container{
    margin:1rem auto;
    padding: 2px auto;
}
.user-blogs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-blogs button{
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    background: #C8514B;
    color: white;
    border: none;
    font-family: inherit;
    margin: 1rem auto;
    width: 100%;

}